*{
    margin: 0; 
    padding:0;
    font-family: 'Noto Sans KR', sans-serif; list-style: none; -ms-overflow-style: none; } ::-webkit-scrollbar { display: none;}

button{
    padding: 0;
    background-color: #00204A; color: #fff; border: none; font-size: 20px; width: 75px; height: 48px;}

p{font-size: 16px;}

.yellow{color: #f0d047;}


header{
    width: 100%;
    height: 186px;
    position:fixed;
}
.logo{
    width: 1216px;
    height: 140px;
    margin: 0 auto;
}

.login{
    float: right;   
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
}
.login > ul{
    list-style: none;
    height: 16px;
    float: right;
    
}
.login > ul > li{
    float: left;
    padding: 0 9px ;
    
}
.login > ul > li:first-child{   
    border-right:1px solid black;
} 
 

.logo > h1{
    margin: auto;
    width: 409px;
    height: 77px;
    padding: 22px 0 0 0;
}
.logo > h1 > a> img{
    width: 409px;
    height: 77px;
}
.logo > h1 > a> img:last-child{
    display: none;
}

nav{
    background-color: #11264f;
    height: 47px;
    width: 100%;
    font-size: 20px;
    
}
nav > .main_menu{
    width: 1216px;  
    height: 47px;
    margin: auto;
}
nav > .main_menu >li{
    width: 280px;
    margin-right: 32px;
}
nav > .main_menu >li:last-child{
    margin: 0;
}


nav > .main_menu,
nav > .main_menu > li > .sub_menu{
   
    padding: 0;
}

nav > .main_menu > li{
    float: left;
}
nav > .main_menu > li >a{
    line-height: 47px;
}

.main_menu > li > a,
.sub_menu > li > a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
}

.sub_menu > li > a{
    line-height: 56px;
}


.main_menu > li > ul {
    width: 280px;
    position: absolute;
    display: none;
}
.main_menu > li:hover > ul {
    background-color: #fff;
    display: block;
}
.main_menu > li > ul > li > a{
    color: #2b2b2b;
}
.main_menu > li > ul > li:hover{
    background-color: #f0d047;
}
.main_menu > li > ul > li > a:hover{
    color: #fff;
}



section{margin-bottom: 178px;}
.faq{
    width: 1216px;
    margin: 0 auto 107px auto;
}

.faqTop{
    margin-top: 52px;
}

.faqTop > span{
    float: left;
    font-size: 48px;
    border-bottom: 2px solid #f0d047;
    margin: 0;
}


.faqTop > .search{
    display: inline-block;
    padding: 14px;
    margin-left: 180px;
}
.faqTop > .search >form > input{
    width: 374px;
    height: 44px;
    padding: 0;
    margin-right: 10px;
}

.faqTop > .search >form ::placeholder{padding-left: 16px;}


.faqBot > .accordion{
    margin-top: 77px;
}

.faqBot > .accordion > div > p{
    margin-left: 275px;
}


span{
    font-size: 16px;
    margin: 0 120px 0 143px;
    color: #252958;
}


input[id*="answer"]{
    display: none;
}
input[id*="answer"] +label{
    display: block;
    padding: 20px;
    border-bottom: 1px solid #232188;
    cursor: pointer;
    position: relative;
}

input[id*="answer"] + label em{
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -8px;
    display: inline-block;
    transition: 0.5s;
    background:url(img/arrow.png) 0 0 no-repeat;
}
input[id*="answer"] + label + div{
    max-height: 0;
    transition: all 0.5s;
    overflow: hidden;
    background-color: #F0F0E4; 
    font-size: 11px;
}

input[id*="answer"] + label + div p{
    display: inline-block;
    padding: 20px;
}


input[id*="answer"]:checked + label + div{
    max-height: 160px;
}

input[id*="answer"]:checked + label em{
    transition: 0.5s;
    background:url(img/arrow_t.png) 0 0 no-repeat;
}

.faqBot > .accordion > div > p> a:link{
    color: #00204A;
}
.faqBot > .accordion > div > p> a:hover{
    color: #f0d047;
}


footer{
    width: 100%;
    height: 171px;
    background-color: #00204A;
    color: #fff;
}
footer > .ft {
    width: 1216px;

    margin: auto;
    padding-top: 54px;
}


footer > .ft> .ftBg >img{
    width: 337px;
    height: 63px;
    float: left;
}

footer > .ft > .footerInfo {
    padding-top: 22px;
    width: 850px;
    margin-right: 0;
}

footer > .ft > .footerInfo > p{
    display: inline-block;
    margin-right: 25px;
}

/* footer > .ft > .footerInfo> p:first-of-type{
    margin-left: 12px;
}  */



/* ////////////태블릿 시작//////////// */
@media screen and (min-width:834px) and (max-width:1024px){
    /* *{background-color: blueviolet;} */

    button{
        padding: 0;
        background-color: #00204A; color: #fff; border: none; font-size: 20px; width: 45px; height: 44px;}
    
    p{font-size: 16px;}
    
    .yellow{color: #f0d047;}
    
    
    header{
        width: 100%;
        height: 138px;
        position:fixed;
        background-color: #fff;
    }

    .logo{
        width: 834px;
        height: 103px;
        margin: 0 auto;
    }

    .logo > .login > ul > li >a{
        text-decoration: none;
        display: block;
        text-align: center;
        color: #000;
        font-size: 12px;
    }
    .logo > h1{
        width: 293px;
        height: 54px;
        text-align: center;
    }
    .logo > h1 > a> img {
        width: 293px;
        height: 54px;
    }

    nav {
        height: 35px;
        width: 100%;
        
    }
    nav > .main_menu{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    nav > .main_menu > li {
        width: 182px;
        margin-right: 18px;
        
    }

    nav > .main_menu > li > a{
        font-size: 16px;
        line-height: 35px;
    }



    .main_menu > li > ul {
        width: 182px;
        position: absolute;
        display: none;
    }
    .main_menu > li:active > ul {
        background-color: #fff;
        display: block;
    }
    .main_menu > li > ul > li > a{
        color: #2b2b2b;
        font-size: 14px;
        line-height: 32px;
    }

    .main_menu > li > ul > li:active{
        background-color: #f0d047;
    }
    .main_menu > li > ul > li > a:active{
        color: #fff;

    }





    section{margin-bottom: 85px;}
    .faq{
        width: 782px;
    }
    
    .faqTop{
        margin-top: 54px;       
    }
    
    .faqTop > span{
        float: left;
        font-size: 48px;
        border-bottom: 2px solid #f0d047;
        margin-left: 258px;
    }
    
    
    .faqTop > .search{
        display: inline-block;
        padding: 14px;
        margin-left: 180px;
        margin-top: 52px;
    }
    .faqTop > .search >form > input{
        width: 321px;
        height: 44px;
        padding: 0;
        margin-right: 15px;
    }
    
    .faqTop > .search >form ::placeholder{padding-left: 16px;}
    
    
    .faqBot > .accordion{
        margin-top: 30px;
    }
    
    .faqBot > .accordion > div > p{
        margin-left: 187px;
        font-size: 14px;
    }
    
    
    span{
        font-size: 16px;
        margin: 0 111px 0 67px;
        color: #252958;
    }
    
    
    input[id*="answer"]{
        display: none;
    }
    input[id*="answer"] +label{
        display: block;
        padding: 20px;
        border-bottom: 1px solid #232188;
        cursor: pointer;
        position: relative;
    }
    
    input[id*="answer"] + label em{
        position: absolute;
        top: 50%;
        right: 10px;
        width: 30px;
        height: 30px;
        margin-top: -8px;
        display: inline-block;
        transition: 0.5s;
        background:url(img/arrow.png) 0 0 no-repeat;
    }
    input[id*="answer"] + label + div{
        max-height: 0;
        transition: all 0.5s;
        overflow: hidden;
        background-color: #F0F0E4; 
        font-size: 11px;
    }
    
    input[id*="answer"] + label + div p{
        display: inline-block;
        padding: 20px;
    }
    
    
    input[id*="answer"]:checked + label + div{
        max-height: 160px;
    }
    
    input[id*="answer"]:checked + label em{
        transition: 0.5s;
        background:url(img/arrow_t.png) 0 0 no-repeat;
    }
    
    .faqBot > .accordion > div > p> a:link{
        color: #00204A;
    }
    .faqBot > .accordion > div > p> a:hover{
        color: #f0d047;
    }
    
    


    footer{
        width: 100%;
        height: 128.2px;
        background-color: #00204A;
        color: #fff;
    }
    footer > .ft {
        width: 755px;
        padding: 20px; 
        box-sizing: border-box;
        margin: 0 auto;
    }


    footer > .ft> .ftBg >img:last-child{
        width: 183px;
        height: 89px;
        float: left;
        display: block;
        /* margin-left: 80px; */
    }
    footer > .ft> .ftBg >img:first-child{
        display: none;
    }
    footer > .ft > .footerInfo {
        float: left;
        width: 504px;
        margin-left: 28px;
    }

    footer > .ft > .footerInfo > p{
        display: inline-block;
        margin-right: 36px;
    }
    footer > .ft > .footerInfo > p:nth-child(2n){
        margin-right: 0;
    }
    footer > .ft > .footerInfo > p:nth-child(1),
    footer > .ft > .footerInfo > p:nth-child(2){
        margin-bottom: 11px;
    }
}




/* ////////////모바일 시작//////////// */
@media screen and (min-width:360px) and (max-width:834px){
    button{
        width: 52px;
        height: 44px;
        font-size: 20px;
    }
    header {
        width: 100%;
        height: 92px;
        background-color: #11264f;
    }
    .logo >.login{
        display: none; /*로그인*/
    }
    .logo > h1 > a > img:first-child{
        display: none;
    }
    .logo{
        width: 100%;
        margin: 0 auto;
        height: 92px;
    }
    nav{display: none;}

    .faq{
        width: 328px;
    }
    .faq > .faqTop >span{
        display: none;
    }

    .faq > .faqTop >.search{
        width: 100%;
        height: 44px;
        margin: 0;
        padding: 0;
    }
    .faqTop > .search >form > input{
        width: 270px;
        margin-right: 2px;
        box-sizing: border-box;
    }

    .faqBot{
        width: 328px;
    }

    input[id*="answer"] +label {
        padding: 0;
        font-size: 14px;
        line-height: 42px;
    }
    input[id*="answer"] +label em{
        display: none;
    }
    span{
        font-size: 24px;
        margin: 0 20px 0 2px;
    }


    input[id*="answer"] + label + div{
        
    }

    .faqBot >.accordion > div > p{
        margin-left: 0;
        font-size: 9px;
    }




    
    footer{
        width: 100%; 
        height: 62px;
     }
     footer >.ft{
         width: 0;
         height: 0;
         padding: 0;
     }
     .ft > .ftBg{display: none;}
     .ft > .footerInfo >p:last-child{
         display: none;
     }
     footer >.ft > .footerInfo{
         padding-top: 5px;
         margin: 0;
         margin-left: -100px;
         float: none;
         width: 208px;
         text-align: center;
         box-sizing: border-box;
     }
     footer > .ft > .footerInfo >p{
         font-size: 12px;
         margin-right: 0;
         display: block;
     }
     footer > .ft > .footerInfo > p:nth-child(2) {
         margin: 0;
     }
}